body { 
    margin: 0;
}

.Cabeçalho {
    color: antiquewhite;
    font-weight: bolder;
    background-color: #8a0c21;
    display: flex;
    font-size: large;
    margin-left: 0%;
    

}
.Texo-imagem {
    text-align: center;
    color: rgb(153, 74, 0);
    font-size: large;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    line-height: 0.5;
}
.Parágrafo {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.images {
    width: 350px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}

header {
    margin: 0;
    
    
}

ul {
    
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: x-large;
}
.Port {
    font-weight: bolder;
    
}

.gif {
    width: 100%;
    height: 100vh;
    background-image: url('caminho/para/o/seu/gif.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}